/* CSS Document */

/* The container */

label.container {

	display: inline-block;
	
	width:150px;
	
	line-height:30px;
	
	position: relative;

	margin-bottom: 10px;

	cursor: pointer;

	font-size: 12px;

	-webkit-user-select: none;

	-moz-user-select: none;

	-ms-user-select: none;

	user-select: none;

	font-family:cera-light;
	
	text-indent:40px;
	
	float:left;
	
	padding:0;
	
	padding-left:40px;

}

label.full_container {

	display: inline-block;
	
	width:100%;
	
	min-height:30px;
	
	overflow:auto;

	position: relative;

	margin-bottom: 10px;

	cursor: pointer;

	font-size: 12px;

	-webkit-user-select: none;

	-moz-user-select: none;

	-ms-user-select: none;

	user-select: none;

	font-family:cera-light;
	
	text-indent:40px;
	
	float:left;
	
	padding:0;

}
label.full_container a{
    color:#EE3274;
}

.label-text{

	width:90%;
	
	min-height:20px;
	
	overflow:auto;

	line-height:30px;

	float:left;

	font-family:cera-light;

}



/* Hide the browser's default checkbox */

.container input {

	position: absolute;

	opacity: 0;

	cursor: pointer;

	height: 0;

	width: 0;

}
.full_container input {

	position: absolute;

	opacity: 0;

	cursor: pointer;

	height: 0;

	width: 0;

}


/* Create a custom checkbox */

.checkmark {

	position: absolute;

	top: 0;

	left: 0;

	height: 30px;

	width: 30px;

	background-color: #eee;
	
	padding:0;
	
    border-radius:50%;
}


/* On mouse-over, add a grey background color */

.container:hover input ~ .checkmark {

 	background-color: #ccc;
	
	padding:0;

}



/* When the checkbox is checked, add a blue background */

.container input:checked ~ .checkmark {

 	background-color: #EE3274;
	
	padding:0;

}

.full_container:hover input ~ .checkmark {

 	background-color: #ccc;
	
	padding:0;

}



/* When the checkbox is checked, add a blue background */

.full_container input:checked ~ .checkmark {

 	background-color: #EE3274;
	
	padding:0;

}




/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {

	content: "";

	position: absolute;

	display: none;
	
	padding:0;

}



/* Show the checkmark when checked */

.container input:checked ~ .checkmark:after {

 	display: block;

}



/* Style the checkmark/indicator */

.container .checkmark:after {

	left: 7.5px;

	top: 7.5px;

	width: 15px;

	height: 15px;
	
	border-radius:50%;
	
	background:#FFF;

	/*border: solid white;

	border-width: 0 3px 3px 0;

	-webkit-transform: rotate(45deg);

	-ms-transform: rotate(45deg);

	transform: rotate(45deg);*/
	
	padding:0;

}

.full_container input:checked ~ .checkmark:after {

 	display: block;

}



/* Style the checkmark/indicator */

.full_container .checkmark:after {

	left: 9px;

	top: 5px;

	width: 5px;

	height: 10px;

	border: solid white;

	border-width: 0 3px 3px 0;

	-webkit-transform: rotate(45deg);

	-ms-transform: rotate(45deg);

	transform: rotate(45deg);
	
	padding:0;

}
@media(max-width:900px){
 .label-text{

	width:90%;
	
	min-height:20px;
	
	overflow:auto;

	line-height:20px;

	float:right;

	font-family:cera-light;
	

} 
label.full_container {

	display: inline-block;
	
	width:100%;
	
	min-height:30px;
	
	overflow:auto;

	position: relative;

	margin-bottom: 10px;

	cursor: pointer;

	font-size: 12px;

	-webkit-user-select: none;

	-moz-user-select: none;

	-ms-user-select: none;

	user-select: none;

	font-family:cera-light;
	
	text-indent:0;
	
	float:left;
	
	padding:0;

}
}